{% extends "base.html" %}
{% block title %}View Batches{% endblock title %}

{% block body %}
<div class="container py-4">
    <h2 class="text-center">Existing Batches</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Sl no.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Batch Time</th>
                    <th scope="col">Batch Day</th>
                </tr>
            </thead>
            <tbody>
                {% for batch in batches %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'batch_detail' batch.id %}">{{ batch.subject_name }}</a></td>
                    <td>{{ batch.batch_time }}</td>
                    <td>{{ batch.batch_day }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No batches available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
