{% extends "base.html" %}
{% load static %}
{% block title %}View Batches{% endblock title %}

{% block body %}
<div class="container-fluid py-5">
    <h2 class="text-center mb-5">Existing Batches</h2>
    <div class="d-flex justify-content-between mb-3 flex-wrap">
        <div class="mb-2 mb-md-0">
            <button type="button" class="btn btn-warning me-2" id="toggleEdit">Edit</button>
            <button type="button" class="btn btn-danger" id="toggleDelete">Delete</button>
        </div>
        <form class="form-inline d-flex" method="GET" action="{% url 'view_batches' %}" role="search">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"
                value="{{ request.GET.search }}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    
    <div class="table-responsive">
        <table class="table table-striped text-wrap text-center mb-0">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Sl no.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Batch Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Batch Day</th>
                    <th scope="col">Batch Time</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Teacher/Instructor</th>
                    <th scope="col" class="edit-column d-none">Edit</th>
                    <th scope="col" class="delete-column d-none">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for batch in batches %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'batch_detail' batch.id %}" class="text-decoration-none">{{ batch.subject_name }}</a></td>
                    <td><a href="{% url 'batch_detail' batch.id %}" class="text-decoration-none">{{ batch.batch_name }}</a></td>
                    <td>{{ batch.class_level }}</td>
                    <td>{{ batch.batch_day }}</td>
                    <td>{{ batch.batch_time }}</td>
                    <td>{{ batch.start_date }}</td>
                    <td>
                        <p>
                            {% for teacher in batch.teachers.all %}
                                <a href="#" class="text-decoration-none">{{ teacher.name }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% empty %}
                                No teacher assigned.
                            {% endfor %}
                        </p>
                        {% for teacher in batch.teachers.all %}

                        {% endfor %}
                    </td>
                    <td class="edit-column d-none">
                        <a href="{% url 'edit_batch' batch.id %}" class="btn btn-warning" aria-label="Edit batch">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </a>
                    </td>
                    <td class="delete-column d-none">
                        <form method="POST" action="{% url 'delete_batch' batch.id %}" onsubmit="return confirm('Are you sure you want to delete this batch?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" aria-label="Delete batch">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zM5.5 5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0zm3 0v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0zm3 0v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" class="text-center">No batches available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  
    
</div>

{% comment %} <script>
    document.getElementById('toggleEdit').addEventListener('click', function () {
        document.querySelectorAll('.edit-column').forEach(column => column.classList.toggle('d-none'));
    });

    document.getElementById('toggleDelete').addEventListener('click', function () {
        document.querySelectorAll('.delete-column').forEach(column => column.classList.toggle('d-none'));
    });
</script> {% endcomment %}

{% endblock body %}

{% block script %}
    <script src="{% static "js/view_batches.js" %}"></script>
{% endblock script %}
